{% extends 'base.html' %}
{% load static %}


{% block base %}


<!DOCTYPE html>
<html lang="zxx">


    <!-- Hero Slider Begin -->
    <section class="hero-slider">
        <div class="hero-items owl-carousel">
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-1.jpg' %}">
                
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2021</h1>
                            <h2>Lookbook.</h2>
                            <a href="{% static '#' %}" class="primary-btn">About Us</a>
                        </div>
                    </div>
                
            </div>
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-2.jpg' %}">
                
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2021</h1>
                            <h2>Lookbook.</h2>
                            <a href="{% static '#' %}" class="primary-btn">About Us</a>
                        </div>
                    </div>
                
            </div>
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-3.jpg' %}">
                
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2021</h1>
                            <h2>Lookbook.</h2>
                            <a href="{% static '#' %}" class="primary-btn">About Us</a>
                        </div>
                    </div>
                
            </div>
        </div>
    </section>
    <!-- Hero Slider End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Who We Are ?</h4>
                        <p>Contextual advertising programs sometimes have strict policies that need to be adhered too.
                        Let’s take Google as an example.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Who We Do ?</h4>
                        <p>In this digital generation where information can be easily obtained within seconds, business
                        cards still have retained their importance.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Why Choose Us ?</h4>
                        <p>We think that the Customer is at the heart of the our unique business model which includes 
                        Fashion, Design and need or passion. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="testimonial__text">
                        <span class="icon_quotations"></span>
                        <p><center>“Going out after work? Take your butane curling iron with you to the office, heat it up,
                            style your hair before you leave the office and you won’t have to make a trip back home.”</center>
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/about/testimonial-author.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Augusta Schultz</h5>
                                <p>Fashion Design</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="testimonial__pic set-bg" data-setbg="{% static 'img/about/about-us.jpg' %}"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Counter Section Begin -->
    <section class="counter spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">115</h2>
                        </div>
                        <span>Our <br />Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">30</h2>
                        </div>
                        <span>Total <br />Categories</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">115</h2>
                        </div>
                        <span>In <br />Country</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">98</h2>
                            <strong>%</strong>
                        </div>
                        <span>Happy <br />Customer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    {% endblock%}

    <!-- Footer Section  -->

    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-widget">
                            <h4>SanskritiFashionHub</h4>
                            <!--<a href="#"><img src="img/footer-logo.png" alt=""></a>-->
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello.colorlib@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="{% static '#' %}"><i class="fa fa-facebook"></i></a>
                            <a href="{% static '#' %}"><i class="fa fa-instagram"></i></a>
                            <a href="{% static '#' %}"><i class="fa fa-twitter"></i></a>
                            <a href="{% static '#' %}"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="{% static '#' %}">About Us</a></li>
                            <li><a href="{% static '#' %}">Checkout</a></li>
                            <li><a href="{% static '#' %}">Contact</a></li>
                            <li><a href="{% static '#' %}">Serivices</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2" >
                    <div class="footer-widget">
                        <h4>My Account</h4>
                        <ul>
                            <li><a href="{% static '#' %}">My Account</a></li>
                            <li><a href="{% static '#' %}">Contact</a></li>
                            <li><a href="{% static '#' %}">Shopping Cart</a></li>
                            <li><a href="{% static '#' %}">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-widget">
                        <h4>Customer Care</h4>
                        <ul>
                            <li><a href="{% static '#' %}">Search</a></li>
                            <li><a href="{% static '#' %}">Privacy Policy</a></li>
                            <li><a href="{% static '#' %}">2021 lookbok</a></li>
                            <li><a href="{% static '#' %}">Shop</a></li>
                        </ul>
                        <!--<p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>-->
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!-- Footer Section End -->


    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery.dd.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="js/contact_custom.js"></script>
</body>

</html>