{% extends 'base.html' %}
{% load static %}


{% block base %}
	
	<!-- inner banner -->
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>S</span>anskruti
            <span>f</span>ashion
			<span>h</span>ub</h4>
	</div>
	<!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!--checkout-->
    <section class="checkout_wthree py-sm-5 py-3">
        <div class="container">
            <div class="check_w3ls">
                <div class="d-sm-flex justify-content-between mb-4">
                    <h4>review your order
                    </h4>
                    <h4> <B> <u> Your shopping cart items: ({{cart|length}}) </u> </B>
                        <!-- <span>3 Products</span> -->
                    </h4>
                </div>
                <div class="checkout-right">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>SL No.</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Product Name</th>

                                <th>Total Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in cart %}
                            <tr class="rem1">
                                <td class="invert">{{c.id}}</td>
                                <td class="invert-image">
                                    <a href="single_product.html">
                                        <img src="{{c.product.img.url}}" alt=" " class="img-responsive" height="100px" width="100px">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <a href="{% url 'minus' c.id %}">
                                                <div class="entry value-minus">&nbsp;</div>
                                            </a>
                                            <div class="entry value">
                                                <span>{{c.qauntity}}</span>
                                            </div>
                                            <a href="{% url 'plus' c.id %}">
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">{{ c.product.p_price}}</td>
                                <td class="invert">{{ c.product.p_name}}</td>
                            
                                <td class="invert">{{c.total}}</td>
                                <td class="invert">
                                    <div class="rem">
                                        <!-- <div class="close1"> </div> -->
                                        <a href="{% url 'remove' c.id %}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>

                                </td>
                            </tr>

                            {% endfor %}
                            <!-- <tr class="rem2">
                                <td class="invert">2</td>
                                <td class="invert-image">
                                    <a href="single_product.html">
                                        <img src="{% static 'fa/images/pf1.jpg' %}" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span>1</span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">Women's Light Blue Tunic</td>

                                <td class="invert">$35.00</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close2"> </div>
                                    </div>

                                </td>
                            </tr>
                            <tr class="rem3">
                                <td class="invert">3</td>
                                <td class="invert-image">
                                    <a href="single_product.html">
                                        <img src="{% static 'fa/images/pb3.jpg' %}" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <div class="entry value-minus">&nbsp;</div>
                                            <div class="entry value">
                                                <span>1</span>
                                            </div>
                                            <div class="entry value-plus active">&nbsp;</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">Boy's Casual Shirt & Trouser Set</td>

                                <td class="invert">$23.00</td>
                                <td class="invert">
                                    <div class="rem">
                                        <div class="close3"> </div>
                                    </div>

                                </td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
                <div class="row checkout-left mt-5" style="width: 100%;">
                    <div class="col-md-4 checkout-left-basket">
                        <h4>Continue to basket</h4>
                        
                        
                                <!-- </tr>
                                <tr>
                                    <th scope="row">2</th>
                                       <td> Quantity </td>
                                       <td> {{qty}} </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                       <td> Shipping </td>
                                       <td>Rs:70</td>
                                </tr>
                            <tbody>
                                <tr>
                                    <th scope="row">4</th>
                                       <td> Total </td>
                                       <td>{{subtotal}}</td>
                                </tr> -->
                            <table class=table>  
                                <thead>
                                <tr>
                                    <!-- <th scope="col">1</th> -->
                                    <th scope="col"> product Name </th>
                                    <th scope="col"> Quantity </th>
                                    <th scope="col"> price </th>
                                </tr>
                                </thead>
                                {% for c1 in cart %}
                                <tr>
                                    <td>{{ c1.product.p_name}}</td>
                                    <td><center> {{c1.qauntity}} </center></td>
                                    <td>{{c1.total}}</td>
                                </tr>
                                {% endfor %}
                                <tbody>
                                <!-- <hr> -->
                                <tr style="text-align: right;">
                                    <td> &nbsp</td> 
                                    {% for c2 in show_cart %}
                                    <td colspan="1"><center>Total Price:</center></td> 
                                    
                                    <td> {{c2.total}} </td>
                                    {% endfor %}
                                </tr> 
                                </tbody>
                            
                                
                            </table>
                        <!-- <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                {% for c1 in cart %}
                                <td>{{ c1.product.p_name}}</td>
                                <td>{{c1.qauntity}}</td>
                                <td>{{c1.total}}</td>
                                {% endfor %}
                              </tr>
                              <tr>
                              </tr>
                            </tbody>
                        </table> -->
                
                        <div class="information-wrapper">
                            <a href="{% url 'checkout' %}">       
                            <button class="submit check_out">Proceed to Checkout</button>
                            </a>
                        </div>
                            <!-- <li>Women's Light Blue Tunic
                                <i>-</i>
                                <span>$35.00 </span>
                            </li>
                            <li>Boy's Casual Shirt & Trouser Set
                                <i>-</i>
                                <span>$23.00</span>
                            </li>
                            <li>Total
                                <i>-</i>
                                <span>$78.00</span>
                            </li> -->
                        
                        
                    </div>
             
                </div>
            </div>
        </div>
    </section>
    <!--//checkout-->

    {% endblock %}

    