{% extends 'base.html' %}
{% load static %}


{% block base %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Fashion Hub Ecommerce Category Bootstrap Responsive Website Template| Checkout :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'fa/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="{% static 'fa/css/shop.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'fa/css/checkout.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'fa/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'fa/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
	
	<!-- inner banner -->
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>S</span>anskruti
            <span>f</span>ashion
			<span>h</span>ub</h4>
	</div>
	<!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!--checkout-->
    <section class="checkout_wthree py-sm-5 py-3">
        <div class="container">
            <div class="check_w3ls">
                <div class="d-sm-flex justify-content-between mb-4">
                    <h4>review your order
                    </h4>
                    <h4 class="mt-sm-0 mt-3">Your shopping cart contains:
                        <span>3 Products</span>
                    </h4>
                </div>
                <div class="checkout-right">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>SL No.</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Product Name</th>

                                <th>Total Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c2 in cart %}
                            <tr class="rem1">
                                <td class="invert">1</td>
                                <td class="invert-image">
                                    <a href="single_product.html">
                                        <img src="{{c2.product.img.url}}" alt=" " class="img-responsive" height="100px" width="100px">
                                    </a>
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <a href="{% url 'minus' c2.id %}">
                                                <div class="entry value-minus">&nbsp;</div>
                                            </a>
                                            <div class="entry value">
                                                <span>{{c.qauntity}}</span>
                                            </div>
                                            <a href="{% url 'plus' c2.id %}">
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">{{ c2.product.p_price}}</td>
                                <td class="invert">{{ c2.product.p_name}}</td>

                                <td class="invert">{{ c2.total}}</td>
                                <td class="invert">
                                    <div class="rem">
                                        <!-- <div class="close1"> </div> -->
                                        <a href="{% url 'remove' c2.id %}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>

                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="row checkout-left mt-5">
                    <div class="col-md-4 checkout-left-basket">
                        <h4>Continue to basket</h4>
                        
                        <!-- <table border="1">
                            <tr>
                                <th> product name </th>
                                <th> Quantity </th>
                                <th> price </th>
                            </tr>
                            {% for c1 in cart %}
                            <tr>
                                <td>{{ c1.product.p_name}}</td>
                                <td>{{c1.qauntity}}</td>
                                <td>{{c1.total}}</td>
                            </tr>
                            {% endfor %}
                        </table> -->
                        <table class="table tab" >
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                       <td> Subtotal </td>
                                       <td>{{total}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                       <td> Quantity </td>
                                       <td> {{qty}} </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                       <td> Shipping </td>
                                       <td>Rs:70</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                       <td> Total Payment: </td>
                                       <td>{{subtotal}}</td>
                                </tr>
                                
                            
                                <!-- <tr style="text-align: right;">
                                    <td> &nbsp</td> 
                                    <td colspan="2"><B> Total Price :</B></td> 
                                    <td> {{c1.total_price}} </td>
                                </tr> -->
                            </tbody>
                               
                        </table>
                    </div>
                <!-- <div class="row checkout-left mt-5"> -->
                    <div class="col-md-8 address_form">
                        <h4>Billing Address</h4>
                        <form action="/order/" method="POST" class="creditly-card-form shopf-sear-headinfo_form">
                            {% csrf_token %}
                            <div class="creditly-wrapper wrapper">
                                <div class="information-wrapper">
                                    <div class="first-row form-group">
                                        <div class="controls">
                                            <label class="control-label">Full name: </label>
                                            <input class="billing-address-name form-control" type="text" name="name" placeholder="Full name">
                                        </div>
                                        <div class="card_number_grids">
                                            <div class="card_number_grid_left">
                                                <div class="controls">
                                                    <label class="control-label">Mobile number:</label>
                                                    <input class="form-control" type="text" name="mobileno" placeholder="Mobile number">
                                                </div>
                                            </div>
                                            <div class="card_number_grid_right">
                                                <div class="controls">
                                                    <label class="control-label">Landmark: </label>
                                                    <input class="form-control" type="text" name="landmark" placeholder="Landmark">
                                                </div>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Town/City: </label>
                                            <input class="form-control" type="text" name="town" placeholder="Town/City">
                                        </div>

                                        <div class="controls">
                                            <label class="control-label"> State: </label>
                                            <input class="form-control" type="text" name="state" placeholder="State">
                                        </div>

                                        <div class="controls">
                                            <label class="control-label"> Address type: </label>
                                            <select class="form-control option-fieldf" name="addresstype">
                                                <option>Office</option>
                                                <option>Home</option>
                                                <option>Commercial</option>

                                            </select>
                                        </div>

                                         <div> select Payment Method</div>
                                        <div class="controls">
                                            <label class="control-label"> online: </label>
                                            <input  type="radio" id="paymet" name="paymet" value="online" placeholder="State">
                                        </div>

                                        <div class="controls">
                                            <label class="control-label"> COD: </label>
                                            <input  id="paymet" value="cod" type="radio" name="paymet" placeholder="State">
                                        </div>
                                    </div>
                                    <button class="submit check_out" type="submit">place order</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//checkout-->

    {% endblock %}

     <!-- js -->
    <script src="{% static 'fa/js/jquery-2.2.3.min.js' %}"></script>
    <!-- //js -->
    <!-- smooth dropdown -->
    <script>
        $(document).ready(function () {
            $('ul li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        });
    </script>
    <!-- //smooth dropdown -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <!-- cart-js -->
    <script src="js/minicart.js"></script>
    <script>
        hub.render();

        hub.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->
    <!-- FadeOut-Script -->
    <script>
        $(document).ready(function (c) {
            $('.close1').on('click', function (c) {
                $('.rem1').fadeOut('slow', function (c) {
                    $('.rem1').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close2').on('click', function (c) {
                $('.rem2').fadeOut('slow', function (c) {
                    $('.rem2').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close3').on('click', function (c) {
                $('.rem3').fadeOut('slow', function (c) {
                    $('.rem3').remove();
                });
            });
        });
    </script>
    <!--// FadeOut-Script -->

    <!-- start-smooth-scrolling -->
    <script src="{% static 'fa/js/move-top.js' %}"></script>
    <script src="{% static 'fa/js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{% static 'fa/js/SmoothScroll.min.js' %}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'fa/js/bootstrap.js' %}"></script>

</html>