{% extends 'base.html' %}
{% load static %}

{% block base %}

<!DOCTYPE html>
<html lang="zxx">

<!-- <head>
    <title>Fashion Hub Ecommerce Category Bootstrap Responsive Website Template| Faq :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>-->
   
   	 <!-- header -->
   
	<!-- inner banner -->
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>S</span>anskruti
            <span>f</span>ashion
			<span>h</span>ub</h4>
	</div>
	<!-- //inner banner -->
    <!-- FAQ-help-page -->
    <div class="help about faq-sec">
        <div class="container">
            <h3 class="w3-head">How can we help you</h3>
            <div class="faq-w3agile">
                <h5>Top 10 Frequently asked questions(FAQ)</h5>
                <ul class="faq">
                    <li class="item1">
                        <a href="#" title="click here">How do I create an account on Sanskruti_Fashion_Hub?</a>
                        <ul>
                            <li class="subitem1">
                                <p> You can create your account on Sanskruti_Fashion_Hub by entering and verifying your emial address. Click on "Register" after that 
                                    and fill up the form to create your Sanskruti_Fashion_Hub account</p>
                            </li>
                        </ul>
                    </li>
                    <li class="item2">
                        <a href="#" title="click here">How do I login on Sanskruti_Fashion_Hub? I used to login with email login.</a>
                        <ul>
                            <li class="subitem1">
                                <p> For older users of Sanskruti_Fashion_Hub who used to login with email
                                    enter your email and validatePassword, then choose your method of login under 
                                    "Already have an account?". Once you have entered the details, you will be 
                                    logged in to your account. </p>
                            </li>
                        </ul>
                    </li>
                    <li class="item3">
                        <a href="#" title="click here">Do I need to provide email to create an account on Sanskruti_Fashion_Hub ?</a>
                        <ul>
                            <li class="subitem1">
                                <p>Yes, Providing an email is  mandatory to create an account on Sanskruti_Fashion_Hub. 
                                    However, Beacuse it will allow you to easily reset your password if you need to.</p>
                            </li>
                        </ul>
                    </li>
                    <li class="item4">
                        <a href="#" title="click here">How do I check the status of my order?
                        </a>
                        <ul>
                            <li class="subitem1">
                                <p>Please tap on “My Account” section under main menu of MY MyAccount/myorder to check your order status.</p>
                            </li>
                        </ul>
                    </li>
                    <li class="item5">
                        <a href="#" title="click here">How can i change my password of Account that I use to login on Sanskruti_Fashion_Hub, that i forgot?</a>
                        <ul>
                            <li class="subitem1">
                                <p>You have to go to login page, there is a Option of a forget password. you have to click on that,
                                 then just insert your email id and change your password</p>
                            </li>
                        </ul>
                    </li>
                    <li class="item6">
                        <a href="#" title="click here">Does Sanskruti_Fashion_Hub read my SMSes?</a>
                        <ul>
                            <li class="subitem1">
                                <p>Sanskruti_Fashion_Hub can only read OTP SMSes that are sent by Sanskruti_Fashion_Hub. This is in accordance with guidelines provided by 
                                Google and Apple in line with user privacy policies.</p>
                            </li>
                        </ul>
                    </li>
                    <li class="item7">
                        <a href="#" title="click here">How does the COD (Cash on Delivery) payment option work?</a>
                        <ul>
                            <li class="subitem1">
                                <p>Sanskruti_Fashion_Hub's Cash on Delivery option allows you to pay order value at the time of delivery for all orders 
                                    between Rs. 299 and Rs. 49999. Your existing limits will be revised once, there is a delivery or order 
                                    rejected against your account, from the new limit implementation logic, if required.To pay for any order
                                    using Cash on Delivery (COD) mode of payment, please select the 'Cash On Delivery' option on the payment
                                    page. Cash on Delivery option is available only in selected pincodes.However the COD limit may differ
                                    from customer to customer depending upon the order rejection percentage from a particular customers 
                                    registered email id. For avoidance of doubt, 'Order Rejection Percentage' shall mean any undelivered 
                                    orders which are returned from the address provided by the customer even, after three successful delivery
                                    attempts. In event of COD limit breach, your order will be cancelled and you will have to place a new 
                                    order using Pre-payment options.</p>
                            </li>
                        </ul>
                    </li>
                    <li class="item8">
                        <a href="#" title="click here">I have given my mobile number in my last order? Can I use that number to log 
                            in to Sanskruti_Fashion_Hub?</a>
                        <ul>
                            <li class="subitem1">
                                <p>Mobile numbers given along with shipping address cannot be used to log in on Sanskruti_Fashion_Hub. To use a number
                                 for login on Sanskruti_Fashion_Hub, you need to add your number to your profile and verify it with OTP. This can be
                                  done under profile section in Account.</p>
                            </li>
                        </ul>
                    </li>
                    <li class="item9">
                        <a href="#" title="click here">Does Sanskruti_Fashion_Hub deliver products outside India?
                        </a>
                        <ul>
                            <li class="subitem1">
                                <p>No. At this point, Sanskruti_Fashion_Hub delivers products only within India.</p>
                            </li>
                        </ul>
                        
                    </li>
                    <li class="item10">
                        <a href="#" title="click here">How can I pay for my order at Sanskruti_Fashion_Hub?</a>
                        <ul>
                            <li class="subitem1">
                                <p>We support the following payment options at Sanskruti_Fashion_Hub:

                                    Cash On Delivery (available in selected pin codes)
                                    Credit Card
                                    Debit Card
                                    Net banking
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //FAQ-help-page -->

    {% endblock %}

 
    