{% extends 'base.html' %}
{% load static %}

{% block base %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Login</title>
	<link rel="icon" href="{% static 'aroma/img/Fevicon.png' %}" type="image/png">
  	<link rel="stylesheet" href="{% static 'aroma/vendors/bootstrap/bootstrap.min.css' %}">
  	<!-- <link rel="stylesheet" href="{% static 'aroma/vendors/fontawesome/css/all.min.css' %}"> -->
	<link rel="stylesheet" href="{% static 'aroma/vendors/themify-icons/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'aroma/vendors/linericon/style.css' %}">
  	<link rel="stylesheet" href="{% static 'aroma/vendors/owl-carousel/owl.theme.default.min.css' %}">
  	<link rel="stylesheet" href="{% static 'aroma/vendors/owl-carousel/owl.carousel.min.css' %}">
  	<link rel="stylesheet" href="{% static 'aroma/vendors/nice-select/nice-select.css' %}">
  	<link rel="stylesheet" href="{% static 'aroma/vendors/nouislider/nouislider.min.css' %}">

  <link rel="stylesheet" href="{% static 'aroma/css/style.css' %}">
</head>

  

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<!-- <div class="container"> -->
			<!-- <div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" href="register.html">Create an Account</a>
						</div>
					</div>
				</div> -->
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3> Forgot Password?</h3>
						<h4>{{error}}</h4>
						<form class="row login_form" action="/forpass/" id="contactForm" method="POST" >
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="name" name="email" placeholder="Email Addrwess" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							
							<!-- <div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div> -->
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100"> Get a new Password </button>
								<!-- <a href="#"> Forgot Password? </a> -->
							</div>
						</form>
					</div>
				</div>
			<!-- </div> -->
		</div>
	</section>
	<!--================End Login Box Area =================-->



	<!--================ End footer Area  =================-->
    {% endblock %}


  <script src="{% static 'aroma/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'aroma/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'aroma/vendors/skrollr.min.js' %}"></script>
  <script src="{% static 'aroma/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'aroma/vendors/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'aroma/vendors/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'aroma/vendors/mail-script.js' %}"></script>
  <script src="{% static 'aroma/js/main.js' %}"></script>
</body>
</html>