{% extends 'base.html' %}
{% load static %}

{% block base %}
<!DOCTYPE html>
<html lang="zxx">

	<!-- inner banner -->
	<div class="ibanner_w3 pt-sm-5 pt-3">
		<h4 class="head_agileinfo text-center text-capitalize text-center pt-5">
			<span>S</span>anskruti
            <span>f</span>ashion
			<span>h</span>ub</h4>
	</div>
	<!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'men' %}"> Clothing</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Single Product</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- Single -->
    <div class="innerf-pages section py-5">
        <div class="container">
            <div class="row my-sm-5">
                {% for m in ms2 %}
                <div class="col-lg-4 single-right-left">
                    <div class="grid images_3_of_2">
                        <div class="flexslider1">
                            <ul class="slides">
                                <li data-thumb="{{ m.img.url }}">
                                    <div class="thumb-image">
                                        <img src="{{ m.img.url }}" data-imagezoom="true" alt=" " class="img-fluid"> </div>
                                </li>
                                <!-- <li data-thumb="{% static 'fa/images/ms2.jpg' %}">
                                    <div class="thumb-image">
                                        <img src="{% static 'fa/images/ms2.jpg' %}" data-imagezoom="true" alt=" " class="img-fluid"> </div>
                                </li>
                                <li data-thumb="{% static 'a/images/ms3.jpg' %}">
                                    <div class="thumb-image">
                                        <img src="{% static 'fa/images/ms3.jpg' %}" data-imagezoom="true" alt=" " class="img-fluid"> </div>
                                </li> -->
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-8 mt-lg-0 mt-5 single-right-left simpleCart_shelfItem">
                    {% for m1 in ms2 %}
                    <h3>{{m1.p_name}}</h3>
                    </h3>
                    <div class="caption">

                        <ul class="rating-single">
                            <li>
                                <a href="{% static '#' %}">
                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li>
                                <a href="{% static '#' %}">
                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li>
                                <a href="{% static '#' %}">
                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li>
                                <a href="{% static '#' %}">
                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li>
                                <a href="{% static '#' %}">
                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"> </div>
                        <h6>
                            <i class="fa fa-inr fa-lg"></i>
                            {{m1.p_price}}</h6>
                    </div>
                    <div class="desc_single">
                        <h5>Description</h5>
                        <p>{{m1.desc}}</p>
                    </div>
                    
                    <div class="d-sm-flex justify-content-between">
                        <!-- <div class="occasional">
                            <h5 class="sp_title mb-3">Highlights</h5>
                            <ul class="single_specific">
                                <li>
                                    <span>Fabric: </span> Poly-Viscose</li>
                                <li>
                                    <span>Pattern :</span> Solid</li>
                                <li>
                                    <span>Type :</span> Single Breasted</li>
                                <li>
                                    <span>Fit :</span> Slim</li>
                            </ul>

                        </div> -->
                        <div class="color-quality mt-sm-0 mt-4">
                            <h5 class="sp_title mb-3"> <b> Services </b> </h5>
                            <ul class="single_serv">
                                <li>
                                    <a href="{% static '#' %}">07 Day Return Policy</a>
                                </li>
                                <li class="mt-2">
                                    <a href="{% static '#' %}">Cash on Delivery available</a>
                                </li>
                            </ul>
                        </div>
                    </div>  <!-- <button type="submit" class="hub-cart phub-cart btn"> -->
                        <div class="color-quality mt-sm-0 mt-4">
                            <h5 class="sp_title mb-3"> <b> Check your cart for Delivery </b> </h5>
                            <!-- <form action="{% static '#" method="post">
                                {% csrf_token %}
                                <input type="text" placeholder="Enter pincode" required />
                                <a href="{% url 'checkout' %}"> 
                                <input type="submit" value="Checkout">
                                </a>
                            </form> -->
                        </div>
                        <a href="{% url 'cart' m1.id %}">
                            <i class="fa fa-cart-plus fa-3x" aria-hidden="true"> </i>
                        </a>
                    <!-- </button> -->

                    {% endfor %}
                    <div class="description">
                        <!-- <h5>Check your cart for Delivery </h5> -->
                        <!-- <form action="{% static '#" method="post">
                            {% csrf_token %}
                            <input type="text" placeholder="Enter pincode" required />
                            <a href="{% url 'checkout' %}"> 
                            <input type="submit" value="Checkout">
                            </a>
                        </form> -->
                    </div>
                    <div class="occasion-cart">
                        <div class="chr single-item single_page_b">
                            <form action="" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <!-- <input type="hidden" name="add" value="1">
                                <input type="hidden" name="hub_item" value=" Formal Men's Blazer">
                                <input type="hidden" name="amount" value="15.99">
                                <button type="submit"> -->
                                    
                                </button>
                                <a href="" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
    <!-- /new_arrivals -->
    

   {% endblock %}
</html>