{% extends 'base.html' %}

{% load static %}
{% block base %}

<h3 style="text-align: center;"> Welcome To {{n}} </h3>


<table class="table table-dark">
    <tr>
        <thead>
            <th class="table-dark" style="text-align: center;">Product Name</th>
            <!-- <th class="table-dark" style="text-align: center;">Product Quantity</th> -->
            <th class="table-dark" style="text-align: center;">Price</th>
            <th class="table-dark" style="text-align: center;">Quantity</th>
            <th class="table-dark" style="text-align: center;">Status</th>
        </thead>
    </tr>
    {% for i in data %}
    <tr>
        <thead>

            <td>{{i.cart.product.p_name}}</td>
            <!-- <td>{{i.cart.productdesc}}</td> -->
            <td>{{i.cart.p_price}}</td>
            <td>{{i.cart.qauntity}}</td>
            <td>
                {% if j.status == True %}
                <button type="button" class="btn btn-{{co1}}" style="height: 35px;">Completed</button> {% else %}
                <button type="button" class="btn btn-{{co2}}" style="height: 35px;">Pendding..</button> {% endif %}
            </td>
    </tr>
    {% endfor%}

</table>


<div style="height: 400px;width: 1111px;">
    <div class="col-lg-8 col-sm-12"></div>
    <div class="col-lg-4 col-sm-12">
        <div class="order-box">
            <h2>Order Summary</h2>
            <div class="d-flex">
                <h4>All Total</h4>
                <div class="ml-auto font-weight-bold"> ₹ {{total}} </div>
            </div>
            <div class="d-flex">
                <h4>Discount</h4>
                <div class="ml-auto font-weight-bold"> 10 &#x25; </div>
            </div>
            <hr class="my-1">
            <div class="d-flex">
                <h4>Coupon Discount</h4>
                <div class="ml-auto font-weight-bold"> Not Available </div>
            </div>
            <div class="d-flex">
                <h4>Tax</h4>
                <div class="ml-auto font-weight-bold"> 2 &#x25; </div>
            </div>
            <div class="d-flex">
                <h4>Shipping Cost</h4>
                <div class="ml-auto font-weight-bold"> Free </div>
            </div>
            <hr>
            <div class="d-flex gr-total">
                <h5>Grand Total</h5>
                <div class="ml-auto h5"> ₹ {{ all }} </div>
            </div>
            <hr>
        </div>

    </div>


    {% endblock  %}

